.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
}

