<app-header></app-header>
<div *ngIf="!mostrarProyecto">
    <div class="sections">
        <button (click)="homeView()">Sobre Mi</button>
        <button (click)="proyectosView()">Proyectos</button>
    </div>
    
    <app-bienvenida></app-bienvenida>
    <app-descripcion></app-descripcion>
    <app-aboutme></app-aboutme>
    <app-formacion></app-formacion>
    <app-experiencia></app-experiencia>
  </div>
  
  <app-proyecto *ngIf="mostrarProyecto"></app-proyecto>

<app-footer class="footer"></app-footer>
