#logo{
   margin: 2px;
}
#boton{
    margin: 2px;
    color:white;
}
#boton:hover{
    background-color:rgb(83, 83, 241);
}
#social{
    text-align: end;
}
.social{
 margin-right: 2px;
    
}
.social:hover{
    cursor: pointer;
}
#navbar{
    display: flex;
    position: fixed;
    width: 100%;
    background: #20202380;
    z-index: 2;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}
.redesSociales{
    display: flex;
    margin-right: 5px;
    margin-top: 3px;
}
