
        <div id="navbar" class="container-fluid">
          <div id="logo" class="col">
            <a href="/"><img src="../../../assets/logo.png" height="30px"></a>
          </div>
          <div id="social" class="col">
            
            <a href="https://www.instagram.com/foisbraian/"  target="_blank"><img class="social" src="../../../assets/instagram.png" height="30px" ></a>
            <a href="https://www.linkedin.com/in/brian-fois/"  target="_blank"><img class="social" src="../../../assets/linkedin.png" height="30px" ></a>
            <a href="https://twitter.com/foisbraian"  target="_blank"><img class="social" src="../../../assets/twitter.png" height="30px" ></a>
          
            <button id="boton" class="btn btn-info" (click)="login()" height="30px" *ngIf="!isLogged">INGRESAR</button>
            <button id="boton" class="btn btn-info" (click)="onLogOut()" height="30px" *ngIf="isLogged">CERRAR SESION</button>
          </div>
          </div>
         
