.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  box-sizing: border-box;
  flex-direction: column;
}
.title{
  font-size: 18px;
  text-align: center;
}
@media (max-width: 600px){
  .container{
    width: 100%;
  }}
.exp-button{
    display: flex;
    width: 0px;
}
p{
    font-size: 12px;
}
h5{
    font-size: 14px;
}
button{
    margin-bottom: 1%;
}
