.logo-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.actualizar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.logo-desc:hover{
    cursor: pointer;
}
.container{
    color: white;
}