*{
    color:white;
}
.container{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil{
    z-index: 2;
    border-radius: 50%;
}
#descripcion{
    margin-left: 1%;
}
p{
   
    margin-bottom: -5px;
    font-size: 30px;
    font-weight: bold;
}
h5{
    font-size: 15px;
}


