<div class="container50" *ngIf="info">
   
    <div>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">Foto:</label>
                <input type="text" class="form-control" id="img" name="img" [(ngModel)]="info.img" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="info.descripcion" required>
            </div>
            <button class="btn btn-primary" >
               Actualizar Datos
            </button>
        </form>
    </div>

</div>
