<div class="container" *ngIf="eduLab">
    <div class="logo-desc"><img src="../../../assets/logo.png" alt="logo" width="100px" routerLink=""></div>
    <div>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreEdu">Titulo:</label>
                <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="eduLab.nombreEdu" required>
            </div>
            <div class="form-group">
                <label for="descripcionEdu">Institucion:</label>
                <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="eduLab.descripcionEdu" required>
            </div>
            <div class="form-group">
                <label for="initDate">Fecha de inicio:</label>
                <input type="number" class="form-control" id="initDate" name="initDate" [(ngModel)]="eduLab.initDate" required>
            </div>
            <div class="form-group">
                <label for="finishDate">Institucion:</label>
                <input type="number" class="form-control" id="finishDate" name="finishDate" [(ngModel)]="eduLab.finishDate" required>
            </div>
            <div class="actualizar"><button class="btn btn-primary" >
                Actualizar Datos
             </button></div>
        </form>
    </div>

</div>
