<div class="container">
    <div>
    <span class="title">Formación:</span>
   <button type="button" class="btn btn-dark new" routerLink="/newedu" *ngIf="isLogged">Nueva Educacion</button>

        <div class=" row formacion" *ngFor="let Educacion of edu" >
            <div class="col"> <h5>{{Educacion.nombreEdu}}</h5></div>
            <div class="col"> <p>{{Educacion.descripcionEdu}}<br>({{Educacion.initDate}}-{{Educacion.finishDate}})</p></div>

        <div class="button">
        <div *ngIf="isLogged"> <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
            <i class="bi bi-pen"></i>
                </button></div>
        <div *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)">
    <i class="bi bi-trash3-fill"></i>
                </button></div>
            </div>

    </div>

</div>
</div>
