.container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
    color: white;
    box-sizing: border-box;
}

p{
    font-size: 12px;
}

.col{
    text-align: center;
}
h5{
    
    font-size: 14px;
}
.button{
    display: flex;
    width: 0px;
}
button{
    margin: 3px;
}


