.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  box-sizing: border-box;
}
@media (max-width: 600px){
  .container{
    width: 100%;
  }

}

p{
    font-size: 12px;
}

.col{
    text-align: center;
}
h5{

    font-size: 14px;
}
.button{
    display: flex;
    width: 0px;
}
button{
    margin: 3px;
}


