.container{
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
.title{
  font-size: 18px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  width: 100%;
}
img{
  width: 100%;
}
.proyect {
  position: relative;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  img{
    width: 90%;
  }
  .proyect{
    width: 100%;
  }
}
 .open_proyect {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 a{
  opacity: 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.proyect:hover {
  cursor: pointer;
  background-color: black;
}

.proyect:hover img {
  opacity: 0;
  transition: all 0.3s;
}

.proyect:hover a {
  opacity: 1;
  transition: all 0.3s;
}
.new{
  margin: 5px;
  display: flex;

}
.button-edit{
  display: flex;
  margin: 5px;
}
