<div class="container">
    <h4>Proyectos:</h4>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eum, consectetur eius obcaecati debitis molestiae iusto vel illo ad voluptate maxime id laudantium voluptas cupiditate libero facilis. Facere, nulla recusandae?</p>
    <div class="row proyects">
        <div class="col"><div class="name-graph">
            <p>BrawlstarAPI:JS PURO</p>
        </div>
    <a href="https://bfois.github.io/nukbra/" target="_blank"><img src="../../../assets/brawlapi.jpg" width="50%"></a>
    <p class="descripcionP">Aplicacion web, que realiza llamadas a una Api, para un cliente en particular, otorgandole estadisticas en tiempo real</p>
    </div>
        <div class="col"><div class="name-graph"><p>DRUMP PAD: React</p></div>
        <a href="https://codepen.io/bfois/full/mdXOJbw" target="_blank"><img src="../../../assets/drumpad.jpg" width="50%"></a>
        <p class="descripcionP">Aplicacion web, realizada en react, que permite tocar un conjunto de sonidos presionando las teclas del teclado</p>
    </div>
    <div class="row proyects">
        <div class="col"><div class="name-graph">
            <p>Calculadora: React</p>
        </div>
    <a href="https://codepen.io/bfois/full/ZErLoar" target="_blank"><img src="../../../assets/calculator.jpg" width="50%"></a>
    <p class="descripcionP">Calculadora que permite realizar las cuatro operaciones comunes: sumar,restar,multiplicar y dividir.</p>
    </div>
        <div class="col"><div class="name-graph"><p>Portfolio: Angular</p></div>
        <a href="https://codepen.io/bfois/full/mdXOJbw" target="_blank"><img src="../../../assets/portfolio.jpg" width="50%"></a>
        <p class="descripcionP">Aplicacion web, realizada en angular conectada a una base de datos, que permite:crear,editar y eliminar el contenido de la misma. </p>
    </div>
</div>