<div class="container" [@animation]>
<span class="title">Proyectos:</span>
<div class="button-container">
<button type="button" class="btn btn-dark new" routerLink="/newProyec" *ngIf="isLogged">Nuevo Proyecto</button>
</div>
<div class="grid-container" >
  <div class="proyect" *ngFor="let proyect of proyec">
      <img class="img_proyect" [src]="proyect.img" alt="proyecto_nombre">
     <div class="open_proyect">
      <a [href]="proyect.url">Ver proyecto</a>
    </div>
    <ng-container *ngIf="isLogged">
      <div class="button-edit">
        <div> <button class="btn btn-dark" routerLink="/editProyec/{{proyect.id}}">
            <i class="bi bi-pen"></i>
                </button></div>
    </div>
    </ng-container>


</div>
</div>



