.container{
  display: flex;

  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  box-sizing: border-box;
}
@media (max-width: 600px){
  .container{
    width: 100%;
  }}
  @media (min-width: 1280px){
    .container-fluid{
      width: 80%;
    }
    h4{
      margin-left: -80px;
    }}
.circle{
    display: flex;
    justify-content: center;
}
.col{
    width: 50%
}
.button-circle{
    width: 20%;
}
.button-circle button{
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width: 500px){
    .container{
        width: 100%;
    }}
