<div class="container">
    <h4>Habilidades:</h4>
    <div class="row">
      
      <div class="col"><div class="name-graph"><h5>HTML:</h5></div>
      <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
      
      <div class="col"><div class="name-graph"><h5>CSS:</h5></div>
      <circle-progress
      [percent]="95"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'lightblue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
    </div>
    <div class="row">
      
      <div class="col"><div class="name-graph"><h5>BOOTSTRAP:</h5></div>
      <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
     
      <div class="col"> <div class="name-graph"><h5>JAVASCRIPT:</h5></div>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'yellow'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
    </div>
    <div class="row">
      
      <div class="col"><div class="name-graph"><h5>Angular:</h5></div>
      <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'red'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
      
      <div class="col"><div class="name-graph"><h5>MySql:</h5></div>
      <circle-progress
      [percent]="95"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'lightblue'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
    </div>
    <div class="row">
      
      <div class="col"><div class="name-graph"><h5>BOOTSTRAP:</h5></div>
      <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
     
      <div class="col"> <div class="name-graph"><h5>JAVA:</h5></div>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'yellow'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    </div>
    </div>
</div>
