<div class="container-start">
  <div class="saludo">
    <ngx-typed-js
  [strings]="['¡Bienvenido a mi CV!']"
  [loop]="false"
  [shuffle]="true" [typeSpeed]="30"
  [startDelay]="200"
  [showCursor]="false"
  >
  <h1 class="typing"></h1>
  </ngx-typed-js>
  </div>
  <div class="objecto">
    <model-viewer [@animation]
src="../../../assets/bench_minecraft.glb" alt="banquito" auto-rotate camera-controls>
</model-viewer>
  </div>
  <div class="parrafo" [@animation]>
    <span>¡Toma asiento y disfruta de la lectura!</span>
  </div>
  <div class="container-boton" [@animation1]>
    <button class="btn btn-dark" routerLink="/home">Ingresar</button>
  </div>
</div>


